body {
  background-image: url('/public/assets/dashboards_fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


.navbar {
  background-color: black;
  width: 5%;
  height: 70%;
  position: absolute;
  top: 10%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 16px 16px 0px;
}

.navbar svg {
  width: 70%;
  
}

